<div class="holder">


    <nav id="navbar" class="navbar">
      <div class="logo-container">
        <!-- <img src="" alt="" class="logo" /> -->
      </div>
      <div class="links-container">
        <a
        *ngFor="let link of links"
        class="nav-link"
        >{{ link.name }}
      </a>
      <button>
        Contact
      </button>
      </div>
      <!-- <div class="button-container">
        <!-- <mat-icon class="hamburger" (click)="openDialog()">menu</mat-icon>  
      </div> -->
  
    </nav>
  </div>