.container-fluid, .row {
    padding: 0 !important;
    margin: 0 !important;
   
    background-color: #BBDFFA;
}
.hero-holder {
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}
