.container-fluid, .row {
    padding: 0 !important;
    margin: 0 !important;
   
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-holder {
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
}
