<div class="container-fluid hero-holder">
  <div class="hero-box">
    <div class="hero-info row align-items-center">
  
      <div class="col-lg-5">
        <h1>I design and build custom sites and apps</h1>
        <h2>
          Combining design, tech & strategy into a unified discipline powerful
          enough to propel businesses forward.
        </h2>
        <button>
          Learn more
        </button>
      </div>
      <div class="col-lg-7 img-box">  
        <img class="img-fluid" src="../../../assets/images/undraw_programming_re_kg9v (2).svg" alt="">
  
      </div>
     
      
    </div>
    <!-- <svg viewBox="0 0 500 110" preserveAspectRatio="xMinYMin meet">
      <path
        d="M0,100 C150,120 310,16 500,100 L500,00 L0,0 Z"
        style="stroke: none; fill: #ffffff"
      ></path>
    </svg> -->
  
   
  </div>
 
</div>
