

  .hero-box {
    
    position: relative;
   overflow: hidden;
    min-height: 100vh;
    width: 100vw;
    margin: 0 auto;


  }
  .text-box {
    animation: fadeIn 1s;
  

  }
  .hero-info {

    width: 80vw;
    margin: 0 auto;


  
  }
  .col-lg-6, .col-lg-4, .col-lg-1 {
    padding: 0 !important;
    margin: 0 !important;
  }
  h1, h2 {
    font-family: "Raleway", sans-serif;
  }
  h1 {
    font-size: 3.8rem;
    color: white;
  }
  h2 {
    font-size: 1.9rem;
    color: white;
  }



 

button{
  margin-top: 15px;
    width: 270px;
    height: 60px;
    border: none;
    font-family: "Raleway", sans-serif;
    outline: none;
    background: white;
    color: rgb(0, 0, 0);
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: ease 0.4s;
}
button:hover {
    background: rgb(0, 0, 0);
    color: #ffffff;
}
.img-box {
  position: relative;

}
.computer-img {
  animation: computerAnim 1s;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}
h3:hover {
  opacity: 0.5;
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
   opacity: 1;
  }
}