

  .hero-box {
    
    position: relative;
    width: 100%;

    min-height: 90vh;
    width: 80vw;
    margin: 0 auto;

    display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; 
  }
  .hero-info {

    padding-left: 50px;
    


  
  }
  .col-lg-6, .col-lg-4, .col-lg-1 {
    padding: 0 !important;
    margin: 0 !important;
  }
  h1, h2 {
    font-family: "Raleway", sans-serif;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 1.9rem;
  }



  .container{
    width: 100%;

    background: #e3ebfe;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
  margin-top: 15px;
    width: 270px;
    height: 60px;
    border: none;
    font-family: "Raleway", sans-serif;
    outline: none;
    background: #4764ad;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: ease 0.3s;
}
button:hover {
    background: #fff;
    color: #2f2f2f;
}
.img-box {
  position: relative;
}


h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}
h3:hover {
  opacity: 0.5;
}



