
  <div class="hero-box d-flex align-items-end">
    <div class="hero-info row">
  
      <div class="col-lg-5 text-box">
        <h1>I design and build custom sites and apps</h1>
        <h2>
          Combining design, tech & strategy into a unified discipline powerful
          enough to propel businesses forward.
        </h2>
        <button>
          Learn more
        </button>
      </div>
      <div class="col-lg-7 order-first order-lg-0 img-box ">  
        <img class="img-fluid computer-img" src="../../../assets/images/undraw_programming_re_kg9v (2).svg" alt="">
  
      </div>
   
    </div>

  </div>


  
  