.container-fluid, .row {
    padding: 0 !important;
    margin: 0 !important;
}
img {
  
 }

svg {
    display: inline-block;
    
    top: 0;
    left: 0;
  }
  .hero-box {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 50px;
    background-color: #e4e4e4;
    height: calc(100vh - 84px) !important;
  
  }
  .hero-info {
    background-color: #e4e4e4;
    padding-left: 50px;
    


  
  }
  h1, h2 {
    font-family: "Raleway", sans-serif;
  }
  h1 {
    font-size: 3.8rem;
  }
  h2 {
    font-size: 1.9rem;
  }



  .container{
    width: 100%;
    height: 100vh;
    background: #e3ebfe;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
  margin-top: 15px;
    width: 270px;
    height: 60px;
    border: none;
    font-family: "Raleway", sans-serif;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: ease 0.3s;
}
button:hover {
    background: #fff;
    color: #2f2f2f;
}
.img-box {
  position: relative;
}
#hidden-box {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;


}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}
h3:hover {
  opacity: 0.5;
}



  .icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 25px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: rgb(0, 0, 0);
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

