<div class="container-fluid">
  <div class="hero-box">
    <div class="hero-info row align-items-center">
      <div class="col-lg-1"></div>
      <div class="col-lg-4">
        <h1>I design and build custom sites and apps</h1>
        <h2>
          Combining design, tech & strategy into a unified discipline powerful
          enough to propel businesses forward.
        </h2>
        <button>
          Learn more
        </button>
      </div>
      <div class="col-lg-6 img-box">  
        <img id="undraw-picture" src="../../../assets/svg-scroll-images/grouped.svg" alt="">
        <div id="hidden-box">
          <h3>Work</h3>
          <h3>About</h3>
          <h3>Contact</h3>
          
      </div>
      </div>
      <div class="col-lg-1"></div>
      
    </div>
    <!-- <svg viewBox="0 0 500 110" preserveAspectRatio="xMinYMin meet">
      <path
        d="M0,100 C150,120 310,16 500,100 L500,00 L0,0 Z"
        style="stroke: none; fill: #ffffff"
      ></path>
    </svg> -->
  
   
  </div>
 
    <div class="icon-scroll"></div>
</div>
