a {
    text-decoration: none;
    color: black;
}
.project-card {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 8px;
    background-color: #fff;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.3s ease;
    
}
.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.project-card:hover img   {
    opacity: 1;
}

img {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
    transition: 0.3s ease;
    padding: 30px;
    opacity: 0.6;
 
}
.img-holder {

    width: 100%;
  
   
}
.text-holder {
    padding-top: 20px;
    height: 100%;
}
h2 {
 
        font-family: "Raleway", sans-serif;
        font-size: 2rem;
   
        font-weight: bold;
}
